<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.github.munkitap</string>
		<key>ProgramArguments</key>
		<array>
			<string>/usr/local/bin/munkitap</string>
			<string>-q</string>
			<string>pour</string>
		</array>
		<key>RunAtLoad</key>
		<false/>
		<key>StartInterval</key>
		<integer>3600</integer>
	</dict>
</plist>
